<div class="container-fluid ">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
               <input type="text" [(ngModel)]="code" class="form-control" placeholder="輸入股票代號或是名稱">
            </div>
            <div class="col-3">
              <button class="btn btn-success" (click)="search()">查詢</button>
            </div>
          </div>
        </div>
        <div id="highCharts" class="card-body">
          <ul class="nav nav-pills">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-trend-tab" data-toggle="pill" data-target="#pills-trend" type="button" role="tab" aria-controls="pills-trend" aria-selected="true">走勢圖</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-toggle="pill" data-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
            </li>
          </ul>


          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-trend" role="tabpanel" aria-labelledby="pills-trend-tab">
                <div [chart]="chart"></div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              {{stockCompanyInfo$}}
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
