<div class="container-fluid">
  <br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#login">登入</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#register">註冊</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="login">
              <form>
                <div class="form-group">
                  <label for="account">帳號</label>
                  <input type="text" class="form-control" id="account" name="account" [(ngModel)]="account">
                </div>
                <div class="form-group">
                  <label for="password">密碼</label>
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                </div>
                <div *ngIf="isLoginFail" class="alert alert-danger">帳號或密碼錯誤</div>
                <button type="button" class="btn btn-lg btn-primary btn-block" (click)="login(account, password)">登入</button>
              </form>
              <div class="hr-label">
                  <span class="hr-label-text">或</span>
              </div>
              <button type="button" class="btn btn-lg btn-outline-dark btn-block">透過Google登入</button>
              <button type="button" class="btn btn-lg btn-outline-dark btn-block">透過Facebook登入</button>
            </div>
            <div class="tab-pane" id="register">
              <form [formGroup]="registerForm">
                <div class="form-group">
                  <label for="email">電子郵件</label>
                  <input type="email" class="form-control" [ngClass]="{'is-valid': email?.valid, 'is-invalid': email?.invalid && email?.dirty}" id="email" name="email" formControlName="email" placeholder="name@example.com" required email>
                </div>
                <div class="form-group">
                  <label for="account_2">帳號</label>
                  <input type="text" class="form-control" [ngClass]="{'is-valid': account_2?.valid, 'is-invalid': account_2?.invalid && account_2?.dirty}" id="account_2" name="account_2" formControlName="account_2" required>
                </div>
                <div class="form-group">
                  <label for="password_2">密碼</label>
                  <input type="password" class="form-control" [ngClass]="{'is-valid': password_2?.valid , 'is-invalid': password_2?.invalid && password_2?.dirty }" id="password_2" name="password_2" formControlName="password_2" (ngModelChange)="checkPassword()" required>
                </div>
                <div class="form-group">
                  <label for="confirmPassword">確認密碼</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" (ngModelChange)="checkPassword()" required>
                </div>
                <div *ngIf="passwordMismatch" class="alert alert-danger">密碼不一致</div>
                <button type="button" class="btn btn-lg btn-primary btn-block" (click)="register()">註冊</button>
              </form>
              <div class="hr-label">
                  <span class="hr-label-text">或</span>
              </div>
              <button type="button" class="btn btn-lg btn-outline-dark btn-block">透過Google註冊</button>
              <button type="button" class="btn btn-lg btn-outline-dark btn-block">透過Facebook註冊</button>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
