<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
<div class="container-fluid ">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </div>
  </nav>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Featured
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <th>商品</th>
                <th>成交</th>
                <th>漲跌</th>
                <th>幅度</th>
                <th>成交量</th>
                <th>最高</th>
                <th>最低</th>
                <th>開盤</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableParams">
                  <td>{{row.name}}</td>
                  <td [ngClass]="{ 'table-success': row.color == 'success', 'table-danger': row.color=='danger' }">
                    {{row.price | number: '1.0-2'}}
                  </td>
                  <td [ngClass]="{ 'table-success': row.color == 'success', 'table-danger': row.color=='danger' }">
                    {{row.upAndDown | number: '1.0-2'}}
                  </td>
                  <td [ngClass]="{ 'table-success': row.color == 'success', 'table-danger': row.color=='danger' }">
                    {{row.range | percent: '1.0-2'}}
                  </td>
                  <td [ngClass]="{ 'table-success': row.color == 'success', 'table-danger': row.color=='danger' }">
                    {{row.totalAmount}}
                  </td>
                  <td [ngClass]="{ 'table-success': row.highestColor == 'success', 'table-danger': row.highestColor == 'danger' }">
                    {{row.highestPrice | number: '1.0-2'}}
                  </td>
                  <td [ngClass]="{ 'table-success': row.lowestColor == 'success', 'table-danger': row.lowestColor == 'danger' }">
                    {{row.lowestPrice | number: '1.0-2'}}
                  </td>
                  <td>{{row.openPrice | number: '1.0-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
